body {
    padding: 0;
    margin: 0;
    background: url('../public/1676614221_gas-kvas-com-p-nochnoe-nebo-so-zvezdami-detskii-risunok-48.jpg');
    font-family: Arial, Helvetica, sans-serif;
    background-repeat: no-repeat;
}

.container {
    margin: 0 10svw 0 10svw;
}